<div id="floater">
  <div id="content">
    <h2 class="intro">What's Your Idea?</h2>
    <form class="pure-form main-search">
      <fieldset>
        <input type="text">
        <button type="submit" class="pure-button pure-button-primary">GO</button>
      </fieldset>
    </form>
  </div>
</div>
