<div id="content">
  <h2 class="intro">Where do you want to go?</h2>
  <form class="pure-form pure-form-horizontal" id="main-search">
    <fieldset>
      {{input type="text" value=location}}
      <button class="pure-button pure-button-primary" {{action 'navigate' location}}>GO</button>
    </fieldset>
  </form>

  <div id="extras">
    (Hint: type "India")
    <br>

  </div>

</div>

