<div id="creation-from">
  <form class="pure-form pure-from-stacked">
    <fieldset>
      Name    {{input type="text" value=location.name}}
      Address {{input type="text" value=location.address}}
      <button class="pure-button pure-button-primary" {{action 'save'}}>Save</button>
    </fieldset>

    <button {{action 'clickMe'}}>Click Me</button>
  </form>
</div>