<div id="creation-from" class="pure-gr">
  <form class="pure-form pure-form-stacked">
    <fieldset>
      Name    {{input type="text" value=sight.name}}
      Address {{input type="text" value=sight.address}}
      <button class="pure-button pure-button-primary" {{action 'save'}}>Save</button>
    </fieldset>

    <button {{action 'clickMe'}}>Click Me</button>
  </form>
</div>