
.intro {
    margin: auto;
		text-align: center;
}

.main-search {
    margin: auto;
}

#extras {
    text-align: center;
}

#content {
		position:absolute;
		top:0;
		bottom:400px;
		left:0;
		right:0;
		margin:auto;
		height:20px;
		width:38%;
}