
.intro {
    margin: auto;
		text-align: center;
}

.main-search {
    margin: auto;
}

#extras {
    text-align: center;
}

#content {
		position:absolute;
		top:0;
		bottom:400px;
		left:0;
		right:0;
		margin:auto;
		height:20px;
		width:38%;
}

#main-container {
		width: 95%;
}

#image-container img {
		width: 60%;
		position: absolute;
}

.v-centre {
		position: relative;
		top: 50%;
}

#description {
		text-align: center;
		clear: both;
		float: bottom;
}

#tags {
		text-align: center;
}

#image-grid {
		height: 50%;
}